.header { 
    margin: 92px auto 83px;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 471px  332px 240px;
}

.header_menu {
    margin: auto;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.header__logo-image {
    margin: 0 10px;
    width: 135px;
    height: 105px;
}

.header_links-list {
    display: flex;
    text-decoration: none;
}

.header__links-list-item {
    margin-left: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header_link_active {
    text-decoration: none;
}

.header_address {
    list-style: none;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    font-style: normal;
}

.address {
    margin: auto;
}

.cover {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    background-position: center;
    height: 744px;
    width: 1082px;
    background-image: url("../images/cover.jpg");
    background-size: 1082px 744px;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    z-index: 2;
    width: inherit;
    height: inherit;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    z-index: 3;
    padding: 165px 46px 50px 48px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    color: #FFFFFF;
}

.aligned-text {
    display: block;
}

.aligned-text-center {
    padding-top: 9px;
    text-align: center;
}

.aligned-right {
    text-align: right;
}

.letter-spacing-expended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 74px 40px;
    word-spacing: 15px;
}

.cover__description-text {
    z-index: 3;
    margin-left: 40px;
    color: white;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 20px;
}

.bet-button {
    z-index: 3;
    padding: 12px 30px; 
    margin-right: 10px;
    color: white;
    background-color: transparent;
    border: solid 1px #FFFFFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
}

.cover__description-text-distance {
    word-spacing: 17px;
}

.lots {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1082px;
    margin: 0 auto;
    background-position: center;
    margin-top: 180px;
}

.lots__heading {
    margin-left: 61px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.lots__card-list{
    display: grid;
    grid-template-columns: repeat(3, 328px); 
    grid-auto-rows: 554px;
    gap: 25px;
    margin-top: 27px;
    padding-left: 25px;
    list-style: none;
}

.card__title {
    position: relative;
    z-index: 3;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 51px 40px 0;
    color: #FFFFFF;
    text-decoration-line: underline;
}

.card-link {
text-decoration: none;
}

.card__text {
    position: relative;
    z-index: 3;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 40px 48px;
    color: #FFFFFF;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    z-index: -1;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.card-type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card-type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    margin-top: 33px;
    margin-left: 63px;
    text-decoration-line: underline;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.about {
    display: grid;
    grid-template-columns: 328px 704px;
    grid-auto-rows: 544px;
    gap: 25px;
    padding-left: 26px;
    max-width: 1082px;
    margin: 174px auto;
}

.about__logo {
    position: absolute;
    margin-left: 45px;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    margin: 61px 44px;
    width: 148px;
    height: 114px;
}

.about__title {
    margin-top: 97px;
    margin-bottom: 100px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.about__text {
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 984px;
    margin: 0 auto;
}

.footer_address {
    padding-top: 10px;
    list-style: none;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
}

.footer_menu-list {
    padding-top: 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__links-list-item {
    list-style: none;
}

.footer__social-list {
    display: grid;
    grid-template-columns: repeat(3,48px);
    grid-auto-rows: auto;
    gap: 47px;
    padding-top: 10px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
